<div class="row">
  <img id="headerImg" src={{location.source}}>
  <h1> {{game.dead}} has died.</h1>
</div>
<div class="row">
  {{> game-status}}
</div>
<div class="row">
  <a href="/turn"><button type="button" name="button">Continue</button></a>
</div>
