<img id="locationImg" src="/images/willamette-valley.png">
<h1>You have arrived in Oregon City!</h1>
<% include partials/game-status %>
<a href="/"><button type="button" name="button">Play Again</button></a>
