<div class="row">
  <img id="homeBanner" src="/images/banner.jpg">
</div>
<div class="row">
  <a id="newGame" href="/numTravelers"><button  type="button" name="button">New Game</button></a>
  <a id="continue" href="/continue"><button  type="button" name="button">Continue</button></a>
  <a href="/hunt"><button id="look" type="button" name="button">Hunt</button></a>
  <a href="/testing"><button  type="button" name="button">Testing</button></a>
</div>
