<div class="row">
  <h1>Welcome to the Oregon Trail</h1>
</div>
<div class="row">
  <form action="/nameTravelers" method="post">
    Number of Travelers (between 2 and 7): <input type="number" name="quantity" min="2" max="7">
    <input type="submit">
  </form>
</div>
