<div class="buffer" class="row">
</div>
<div class="row">
  <img id="homeBanner" src="/images/banner.jpg">
</div>
<div class="row">
  <a id="newGame" href="/num-travelers"><button  type="button" name="button">New Game</button></a>
  {{#if hasGame}}
    <a id="continue" href="/continue"><button  type="button" name="button">Continue</button></a>
  {{/if}}
</div>
