<div class="row">
  <img id="headerImg" src={{location.source}}>
  <h1 id="locationName">{{location.name}}</h1>
</div>
<div class="row">
  {{> game-status}}
</div>
<div class="row">
  <a href="/look-around"><button id="look" type="button" name="button">Look Around</button></a>
  <a href="/hunt"><button type="button" name="button">Hunt</button></a>
  <a href="/turn"><button id="next" type="button" name="button">Next Location</button></a>
</div>
