<img src="i will me an image later on..." alt="">
<h1>You lose!</h1>
<p><%= game.loseReason %></p>
<% include partials/game-status %>

<a href="/"><button type="button" name="button">Play Again</button></a>
