<div class="buffer" class="row">
</div>
<div class="row">
  <form action="/party-members" method="post">
    <h2>Number of Travelers (between 2 and 7):</h2>
    <div class="cntr">
      <input type="number" name="quantity" min="2" max="7">
      <input type="submit">
    </div>
  </form>
</div>
