<div class="row">
  <h1>Initial Provisions</h1>
</div>
<div class="row">
  {{> game-status}}
</div>
<div class"row">
  <a href="/location"><button type="button" name="button">Start Expedition!</button></a>
</div>
