<div class="row">
  <img  src={{location.source}}>
  <h1> {{game.sick}} has fallen ill!</h1>
</div>
<div class="row">
  {{game-status}}
</div>
<div class="row">
  <a href="/turn"><button type="button" name="button">Continue</button></a>
</div>
