<div class="buffer" class="row">
</div>
<div class="row">
  <h2>Travelers</h2>
  <form class="" action="/outset" method="post">
    {{#each travelers}}
    <label>Traveler {{@index}}
      <input type="text" name={{this}}> value="">
    </label><br>
    {{/times}}
    <br>
    <input type="submit" name="" value="Gather Supplies">
  </form>
</div>
