body {
  background-color: green;
}

h1 {
  text-align: center;
  background-color: white;
  color: green;
}

table {
  border: black solid 2px;
  border-collapse: collapse;
}

td, th {
  background-color: white;
  border: black solid 2px;
  height: 20px;
  padding: 10px;
}

#players {
  float: left;
}

#supplies {
  float: right;
}
